html{
    margin: 40px 240px;
}
#name {
    font-family: cursive;
    top: 0px;
    left: 300px;
    font-size: 36px;
}
.logotxt {
    float: left;
    position: absolute;
}

#song {
    font-family: Arial, Helvetica, sans-serif;
    top: 61px;
    left: 303px;
    font-size: 11px;
}

.bestFood{
    display: inline-block;
}
.printIcon{
    display: inline-block;
}
.bigPic{
    width: 100%;
}
#logo {
    float: left;
    position: absolute;
    top: 43px;
    left: 250px;
}
#mail {
    position: absolute;
    top: 50px;
    right: 260px;
}
#rss {
    position: absolute;
    top: 50px;
    right: 285px;
}
#pint {
    position: absolute;
    top: 50px;
    right: 2315px;
}
#flic {
    position: absolute;
    top: 50px;
    right: 340px;
}
#insta {
    position: absolute;
    top: 50px;
    right: 365px;
}
#google {
    position: absolute;
    top: 50px;
    right: 390px;
}
#twitter {
    position: absolute;
    top: 50px;
    right: 415px;
}
#facebook {
    position: absolute;
    top: 50px;
    right: 440px;
}
.allIcons{
    float: right;
}
.line{
    height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
    margin-bottom: 10px;
}
.ingredients{
    display: inline-block;
}
#ingcol1{
    font-size: 20px;
    position: absolute;
    z-index: 6;
    top: 1180px;
    left: 300px;
    right: 300px;
}
#ingcol2{
    font-size: 20px;    
    position: absolute;
    z-index: 6;
    top: 1180px;
    left: 600px;
}
.van{
    float:left;
}
.directions{
    text-indent: 1cm;
}
.printIcon{
    position: absolute;
    top: 230px;
    left: 1100px;
}
